# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
backend/venv/

# Database
db.sqlite3
backend/db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
*.egg-info/
# Collected static files
staticfiles/