{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | Forge</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<div class="container">

    <div class="hero-card">

        <h4>🔥 FORGE</h4>

        <h2>Welcome Back</h2>

        <p>
            Continue forging your discipline.
        </p>

    </div>

    <div class="card">

        <h2>Login</h2>

        <form method="POST">

            {% csrf_token %}

            <label>Username</label>

            <input
                type="text"
                name="username"
                placeholder="Enter your username"
                required
            >

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter your password"
                required
            >

            <button class="btn btn-primary" type="submit">
                Login
            </button>

        </form>

        <br>

        <p>
            Don't have an account?
            <a href="{% url 'register' %}">
                Create one here
            </a>
        </p>

    </div>

</div>

</body>
</html>